footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 2em;
	}

/* Footer */

	#footer {
		background: var(--color-light-background);
		color: var(--color-dark-background);
		padding: 5em 5em 10em 5em;
		text-align: center;
	}

		#footer .copyright {
			font-size: 1.2em;
			line-height: 1em;
		}

			#footer .copyright a {
				color: inherit;
			}

			#footer .copyright li {
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;
				border-left: dotted 1px;
			}

				#footer .copyright li:first-child {
					margin: 0;
					padding: 0;
					border: 0;
				}
